{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'component/registration.css' %}" rel="stylesheet">
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Password Reset Complete</h2>
            <p>Your New password has been set. You can now login with your new password.</p>
            <a href="{% url 'login' %}"  class="btn btn-danger">Login</a>
        </div>
    </div>
</div>
{% endblock %}
