{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'component/registration.css' %}" rel="stylesheet">
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Set New Password</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="password" name="new_password1" placeholder="New password" required autocomplete="off"/>
                    </div>
                    <div class="input_field">
                        <input type="password" name="new_password2" placeholder="Confirm new password" required autocomplete="off"/>
                    </div>
                    <input class="button" type="submit" value="Set New Password"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
